@font-face {
    font-family: 'Porsche';
    src: url(../fonts/PorscheNext-SemiBold.otf);
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Porsche';
    color: #333;
    background-color: #141414;

}

a {
    text-decoration: none;
    color: #fff;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    margin: 0;
}


/* container
============*/

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    align-items: center;
    justify-content: center;


}

/* header */
/* ================ */
.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #040200;
    width: 100%;
    height: 3.75em;
    z-index: 10000;
    transition: .5s ease;

}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;



}


.header__nav {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 1em;
}

.header__logo {
    margin-left: 2em;
}

.header__img {
    width: 70px;
    height: 30px;
}

.header__ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.2em;



}



.header__a {
    margin-left: .6875rem;
    color: #fff;
    font-size: .9rem;
    line-height: 1.3;
    transition: .5s ease;
}

.header__a:hover {
    color: #e84e0e;

}

.header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;

}

.header__tel {
    color: #fff;
    margin-right: 1em;
}

.header__tel:hover {
    text-decoration: underline;
}

.header__login {
    background: transparent;
    color: #fff;
    width: 5.5em;
    height: 2.5em;
    border-radius: 30px;
    border: 1px solid #a3a3a3;
    transition: .3s ease;
}

.header__login:hover {
    border-color: #fff;

}


/* dropdown  */
/* =================== */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1.5em;
}

.dropbtn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(35, 35, 35);
    min-width: 250px;
    max-width: 300px;
    border-radius: 15px;
    font-size: 14px;
    margin-left: .4em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropdown-content a {
    color: #dddddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* cookies  */
/* ========================= */

.popup {
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #272727;
    width: 22em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
    border-radius: 8px;
}


.closePopup {
    cursor: pointer;
    border: none;
    color: white;
    width: 10vw;
    background-color: #e84e0e;
    color: #fff;
    height: 2em;
    border-radius: 15px;
    margin-left: .4em;
}

.popupBtn {
    background-color: transparent;
    color: #e84e0e;
    transition: .5s ease;
    padding-bottom: .5em;
}

.popupBtn:hover {
    text-decoration: underline;

}

/* city  */
/* =============== */
.city {
    color: #fff;
}


.city__inner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 5em;
}

.city__h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.city__flat {
    display: flex;
    flex-direction: row;
}

.city__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.city__btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 1em;
}

.btn__1 {
    background-color: #e84e0e;
    width: 200px;
    transition: .5s ease;

}

.btn__1:focus {
    background-color: #0e0e0e;
    border: 1px solid #e84e0e;

}

.btn__2 {
    background-color: #272727;
    width: 200px;
    margin-left: 1em;


}




.input__pl {
    font-size: 1.2em;
    padding: .5em 0;
    color: #959596;
}



#value {
    margin-left: .5em;
}

#value-2 {
    margin-left: 1em;
}

.input__2 {
    margin-left: 2em;
}




.flat__num {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}


.flat__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flat__btn {
    background-color: #272727;
    color: #fff;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    transition: .5s ease;
    margin-bottom: 0.5em;

}

.flat__btn:hover {
    color: #e84e0e;
}


.city__sdan {
    margin-left: 2em;
}

.city__check {
    margin-left: 4.5em;
}



select {
    width: 130%;
    padding: 8px;
    background-color: #272727;
    border: none;
    border-radius: 15px;

    color: #fff;
    font-size: 16px;
    transition: .5s ease;
}





.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 5px;
    border-radius: 5px;
    background: #e84e0e;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e84e0e;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #ff0000;
}

.slider::-webkit-slider-thumb:active {
    background: #ff0000;
}


/* card  */
/* ================== */
.card__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}

.card {
    position: relative;
    width: 400px;
    height: 45vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    border: none;
}



.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-text {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}


.card-buttons {
    position: absolute;
    top: 10px;
    display: flex;
    left: 10px;
    gap: 10px;
    overflow: hidden;
    font-size: 14px;

}

.card__btn {

    background-color: #e84e0e;
}

.card__btn-2 {
    background-color: #272727;
}

.card__btn-3 {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 2.5em;
    transition: .5s ease;
}

.card__btn-3:focus {
    color: #e84e0e;
    border-color: #0e0e0e;
}

.card-buttons button {
    padding: 5px 10px;
    color: #fff;
    border: none;

    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}



.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-map {
    display: none;
    position: relative;
    width: 100%;
    height: 44vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    border: none;
}

.btn__3 {
    display: none;
    margin-top: 1em;
    font-size: 20px;
    background-color: transparent;
    color: #fff;

}

/* credit  */
/* ================== */

.bank__in {
    display: flex;

}

.credit {
    background-color: #1c1b1b;
    margin-top: 2em;
}



.credit__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit__main {
    position: relative;
    bottom: 4em;
}

.credit__h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 3.5em;
}

.credit__variant {
    display: block;
    margin-top: 3em;
}

.credit__btn {
    text-transform: uppercase;
    font-size: 11px;
    color: #dddddd;
    background: transparent;
    border: 1px solid #858585;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    margin: 1.5em 1em 0 0;
    transition: .5s ease;
    padding-top: 2px;
}


.credit__check {
    padding-top: 1.5em;
}


.credit__btn:hover {
    border-color: #fff;

}

.credit__btn:focus {
    border-color: #e84e0e;
}


.in {
    width: 100%;

}

.val {
    color: #fff;
}


/* collapse */
/* ====================== */
.container__main {
    width: 80%;
    margin-top: 2em;
}

.collapsible {
    margin: 10px 0;
    border: 1px solid #444;
    padding: 10px 10px;
    border-right: none;
    border-left: none;
}

.collapsible-button {
    background-color: transparent;
    display: flex;

    color: #0e0e0e;
    cursor: pointer;
    padding: 15px;
    width: 100%;

    text-align: left;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.collapsible-button:hover {
    background-color: transparent;

}

.bankName {

    font-size: 18px;
    margin-left: 2em;
    color: #fff;
}

.bank__name {
    color: #fff;
    display: block;
    width: 200px;
    font-size: 16px;
}

.bank__stavka {
    position: relative;
    bottom: 1px;
    font-size: 16px;
    color: #fff;
    margin-left: 8em;

}

.bank__cost {
    font-size: 16px;
    color: #fff;
    margin-left: 8em;
}

.content {
    display: none;
    background-color: #272727;
    cursor: pointer;

    overflow: hidden;
    transition: 0.2s ease-out;
}

.stavka__btn {
    width: 30px;
    height: 30px;
    background-color: #e84e0e;
    color: #fff;
    margin: 1em 0 0 13em;
    padding-bottom: .5px;
    border-radius: 20px;
}

.stavka__btn-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e84e0e;
    color: #fff;
    padding-bottom: .5px;
    border-radius: 20px;
}

.content p {
    margin: 10px 0;
}



/* forbes  */
/* =============================== */

.forbes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse at 50% 90rem, #e84e0e, #0000 40%);


}


.forbes__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10em;
    position: relative;
    bottom: 4em;
}


.forbes__logo {
    width: 100px;
    height: 30px;
    margin: 0 1.5em 5em 0;
}

.forbes__h1 {
    text-transform: uppercase;
    max-width: 15em;
    color: #fff;
    font-size: 3rem;
    line-height: 4.125rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.forbes__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 180px;
    grid-row-gap: 50px;
    color: #fff;
    margin: 4em 0 0 1.5em;
}

.grid1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.forbes__h1-2 {
    font-size: 2.5em;
    padding-bottom: .2em;
    text-align: center;
    margin-right: 1em;
}

.forbes__p {
    font-size: 1em;
    letter-spacing: 2px;
    width: 10em;
    text-align: center;
}

/* articles */
/* ======================== */
.article {
    margin: 10px 0;
    border: 1px solid #444;
    padding: 10px 10px;
    border-right: none;
    border-left: none;
}

.articles__inner {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.article__h1 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 2em;
    letter-spacing: 2px;
}

.article-button {
    display: flex;
    flex-direction: column;

    color: #0e0e0e;
    cursor: pointer;
    padding: 15px;
    width: 100%;

    text-align: left;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.article__btn {
    color: #e84e0e;
    padding-top: 20px;
}


.articleName {
    font-size: 16px;
    color: #fff;
}

.article__btn-big {
    text-transform: uppercase;
    width: 15%;
    background-color: transparent;
    border: 1px solid #e84e0e;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    color: #fff;
    margin-top: 2em;
    transition: .5s ease;
}

.article__btn-big:hover {
    color: #e84e0e;
}


/* filter  */
/* ================================= */
.filter-main {
    display: flex;
    justify-content: center;
    align-items: center;
}



.filter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #0e0e0e;
    padding: 20px;
    z-index: 10001;
    transition: .5s ease;
}

.filter-close_Btn {
    cursor: pointer;
    border: none;
    color: #e84e0e;
    background-color: transparent;
    width: 2vw;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;

    height: 2em;
    border-radius: 15px;
}

.filter__in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.filter__h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter__flat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}




.filter__num {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.filter__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter__btn {
    background-color: #272727;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    transition: .5s ease;
    margin: 0 1em 0.5em 0;

}

.filter__btn:hover {
    color: #e84e0e;
}


.filter__sdan {
    margin-right: 3em;
}

.filter__check {
    margin-right: 3em;
}


/* feedback  */
/* ========================= */
.feedback {
    background-image: radial-gradient(ellipse at 50% 60rem, #e84e0e, #0000 40%);
}

.feedback__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    position: relative;
    bottom: 3em;
}

.feedback h1 {
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 2em;
    width: 11em;
    letter-spacing: 3px;

}

.feedback__input {
    margin: 3em 0 0 2em;
}

.feedback input {
    border: 1px solid #444;
    background-color: transparent;
    color: #fff;
    width: 15em;
    height: 3.5em;
    margin-right: 1em;
    padding-top: 12px;
    border-top: none;
    border-right: none;
    border-left: none;

}

.feedback input::placeholder {
    transform: translateY(.5em);
}


.feedback input:focus::placeholder {
    transform: translateY(-1.5em);
    transition: .5s ease;

}

.feedback input:focus {
    border-bottom-color: #fff;
    transition: .7s ease;
}

.feedback__btn {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.feedback a {
    color: #5f5f5f;
    text-decoration: underline;
}

.fb__btn {
    margin-top: 1em;
    color: #444;
}

.feedback__arrow {
    margin-top: 2em;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    transition: .5s ease;
}

.feedback__arrow:hover {
    color: #e84e0e;
}

.bi-arrow-right:visited {
    color: #141414;
}



/* footer  */

.footer__inner {
    display: flex;
    flex-direction: column;

}

.footer__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}

.footer__img {
    width: 80px;
    height: 40px;
    margin-top: 1em;
}

.footer__tel {
    color: #fff;
    margin: .4em 1em 0 0;
    font-size: 30px;
}

.footer__line {
    height: 1px;
    width: 100%;
    background-color: #444;
    margin-top: 2em;
}


.footer__main-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    display: flex;
    justify-content: left;
    margin-top: 2em;

}

.link__1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sp-2 {
    padding-bottom: .5em;
}


.sp-3 {
    padding: .5em 9em 0 0;
}



.footer__a-main {
    color: #fff;
    font-size: 14px;
    margin-bottom: .5em;
}

.footer__a {
    color: #757575;
    font-size: 13px;
    margin-top: .5em;
}

.link__2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1.73em;
}


.footer__info {
    font-size: 13px;
    color: #757575;
    margin-top: 2em;

}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__main {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 2em;
    padding-bottom: 4em;

}

.social__btn {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    transition: .5s ease;
    background-color: #e84e0e;
    margin-right: 1em;

}


.social__p {
    font-size: 13px;
    color: #fff;
    margin: 1.2em 0 0 .5em;

}

.social__a {
    font-size: 14px;
    color: #757575;
    margin: 1em 1em 0 1em;
}

.footer__btn {
    display: flex;
    flex-direction: row;
    margin-top: 2.4em;


}

.footer__media {
    background-color: #e84e0e;
    width: 40px;
    height: 40px;
    margin-right: 1em;
    border-radius: 15px;
}



@media screen and (min-width: 1300px) {

    .city__btn {
        display: none;
    }



    .city__h1 {
        margin-top: 2em;
    }

    .container__main {
        padding-left: 2em;

    }
}

@media screen and (max-width: 1300px) {
    .cards {
        grid-template-columns: 1fr 1fr !important;
    }



    .city__inner {
        text-align: center;
        margin-bottom: 2em;
    }


    .city__flat {
        display: none !important;
    }

    .container {
        max-width: 992px;
    }

    .bb {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        border-radius: 15px;
        height: 40px;

    }

    .btn__1 {
        width: 30vw;
        margin-left: 1em;
        color: #fff;

    }

    .btn__2 {
        width: 30vw;
        color: #fff;

    }

    .article__h1 {
        margin-left: .5em;
    }

    .header__nav {
        display: none !important;
    }

    .bank__in {
        display: flex !important;
        flex-direction: column !important;

    }

    .container__main {
        width: 100%;
    }



}

@media screen and (max-height: 800px) {
    .card {
        height: 70vh;
    }

}



@media screen and (max-width: 991px) {

    .forbes__grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        margin-left: 2.5em;
        transform: translateX(-1.3em);

    }


    .bank__stavka {
        display: none;
    }

    .bank__cost {
        display: none;
    }

    .stavka__btn {
        margin-right: 12em;
    }

    .article__btn-big {
        width: 100%;
    }
}

@media screen and (max-width: 851px) {
    .cards {
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-template-columns: 1fr !important;

    }

    .card {
        width: 90vw;
    }


    .footer__main-link {
        display: none;
    }

    .footer__head {
        display: flex;
        flex-direction: column;
    }

    .footer__tel {
        margin-left: 1em;
    }

    .footer__line {
        display: none;
    }

    .social__btn {
        display: none;
    }



}


@media screen and (min-width: 750px) {
    .header__tel-svg {
        display: none;
    }

    .stavka__btn-2 {
        display: none;
    }


}

@media screen and (max-width: 750px) {
    .stavka__btn {
        display: none;
    }

    .stavka__btn-2 {
        display: flex;
    }

    .header__tel {
        display: none;
    }

    .footer__btn {
        display: none;
    }

}



@media screen and (max-width: 600px) {
    .credit__variant {
        margin-left: 1em;
    }


    .close_Btn {
        width: 20vw;
    }

    .bb {
        width: 40vw;
        font-size: 14px;
    }

    .forbes__logo {
        margin-left: 1.5em;
    }

    .feedback__input {
        display: flex;
        flex-direction: column;
    }

    .feedback input {
        margin-top: 1em;
    }

    .article__h1 {
        font-size: 1.5em;
        margin-left: 1em;
    }


}


@media screen and (max-width: 500px) {
    .forbes__grid {
        grid-column-gap: 5px;


    }
    .city__inner {
        position: relative;
        top: 2em;
    }

    .feedback h1 {
        font-size: 30px;
    }

    .card {
        width: 400px;
        height: 55vh;
    }


    .scc {
        display: none;
    }

    .social__main {
        margin-left: 1.5em;
    }

    .city__h1 {
        text-align: left;
        margin-left: .5em;
    }

    .filter__final {
        transform: translateY(-3em);
        font-size: 16px;
        bottom: 4em;
    }

    .feedback__btn {
        font-size: 14px;
    }



}







@media screen and (min-width: 430px) {
    .content {
        padding-left: 5.8em;
    }

}


@media screen and (max-width: 430px) {
    .forbes__grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding-left: 1em;


    }

    .content {
        padding-left: 1em;
    }


    .forbes__h1 {
        font-size: 2em;
    }

    .grid-first {
        position: relative;
        bottom: .4em;
    }

    .grid-second {
        position: relative;
        bottom: .75em;
    }

    .grid-third {
        position: relative;
        bottom: .65em;
    }

    .credit__h1 {
        position: relative;
        top: 1em;
        font-size: 1.5em;
        text-align: left;
        align-self: flex-start;
        margin-left: .9em;
    }


    .city__btn-inner {
        position: relative;
        margin-right: 1.1em;


    }

    .credit__btn {
        width: 160px;
    }


    .card-buttons {
        position: absolute;
        left: 1em;
        font-size: 11px;

    }

    .card {
        max-width: 370px;
        margin-top: 10px;
    }

    .popup {
        width: 15em;

    }

    .closePopup {
        margin-left: 3em;
        width: 7em;
    }



    .forbes__h1-2 {
        font-size: 1.5em;
    }

    .forbes__p {
        font-size: 1em;
    }

    .header__tel {
        font-size: 14px;
    }



}


@media screen and (max-width: 390px) {
    .card {
        width: 22em;
    }

    .header__tel {
        display: none;
    }
    .feedback h1 {
        font-size: 24px;
    }

    .bb {
        font-size: 13px !important;
    }

    .card__btn {
        font-size: 12px;
    }

    .card__btn-2 {
        font-size: 12px;
    }

    .forbes__h1-2 {
        font-size: 15px;

    }

    .forbes__p {
        font-size: 12px;

    }

    .social__main {
        margin-right: 1em;
    }

    .grid-second {
        position: relative;
        top: .1em;
    }

}



@media screen and (max-width: 360px) {
    .card {
        width: 19em;
    }

    .footer__tel {
        font-size: 20px;
    }



    .feedback__btn {
        font-size: 12px;
    }
}